HOST=0.0.0.0
PORT=1337
APP_KEYS=randomKey1,randomKey2,randomKey3,randomKey4
API_TOKEN_SALT=randomSalt
ADMIN_JWT_SECRET=randomAdminSecret
TRANSFER_TOKEN_SALT=randomTransferSalt
JWT_SECRET=randomJwtSecret

# Database Configuration
DATABASE_CLIENT=mysql
DATABASE_HOST=192.168.0.56
DATABASE_PORT=3306
DATABASE_NAME=desarrollo
DATABASE_USERNAME=desarrollo
DATABASE_PASSWORD=Alebat12358%
DATABASE_SSL=false